docs/n8n-program-canonical-seed-workflow.json
{
  "name": "Program Canonical Seed Pipeline (GitHub Actions)",
  "nodes": [
    {
      "parameters": {},
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "owner",
              "value": "your-github-org-or-user"
            },
            {
              "name": "repo",
              "value": "recovery-compass-app"
            },
            {
              "name": "workflow_id",
              "value": "canonical-seed.yml"
            },
            {
              "name": "ref",
              "value": "main"
            },
            {
              "name": "program_slug",
              "value": "six_day_reset"
            },
            {
              "name": "github_token",
              "value": "={{$env.GITHUB_TOKEN}}"
            }
          ],
          "boolean": [
            {
              "name": "apply_to_db",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90002",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}/actions/workflows/{{$json.workflow_id}}/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.github_token}}"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"ref\": $json.ref, \"inputs\": {\"program_slug\": $json.program_slug, \"apply_to_db\": $json.apply_to_db ? \"true\" : \"false\"}}",
        "options": {}
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90003",
      "name": "Dispatch Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        360
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90004",
      "name": "Wait For Run",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        920,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}/actions/workflows/{{$json.workflow_id}}/runs?per_page=1&branch={{$json.ref}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.github_token}}"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90005",
      "name": "Get Latest Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "number": [
            {
              "name": "run_id",
              "value": "={{$json.workflow_runs[0].id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90006",
      "name": "Set Run Id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1360,
        360
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}/actions/runs/{{$json.run_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.github_token}}"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90007",
      "name": "Get Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90008",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1800,
        360
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90009",
      "name": "Wait Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.conclusion}}",
              "operation": "equals",
              "value2": "success"
            }
          ]
        }
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90010",
      "name": "Is Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2020,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "=Workflow completed successfully for {{$json.program_slug}}"
            },
            {
              "name": "run_url",
              "value": "={{$json.html_url}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90011",
      "name": "Result Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        200
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "failed"
            },
            {
              "name": "message",
              "value": "=Workflow failed for {{$json.program_slug}} with conclusion {{$json.conclusion}}"
            },
            {
              "name": "run_url",
              "value": "={{$json.html_url}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90012",
      "name": "Result Failed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2240,
        320
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Dispatch Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Workflow": {
      "main": [
        [
          {
            "node": "Wait For Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Run": {
      "main": [
        [
          {
            "node": "Get Latest Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Run": {
      "main": [
        [
          {
            "node": "Set Run Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Run Id": {
      "main": [
        [
          {
            "node": "Get Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Poll": {
      "main": [
        [
          {
            "node": "Get Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "Result Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Result Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "e4a1c39c-b14b-4f6f-b87b-6f46fbc90099"
}
